.navbar {
    background: linear-gradient(180deg, #000000 0%, #00000000 100%);/* Semi-transparent black background */
    /* backdrop-filter: blur(10px); Blur effect for background */
    transition: transform 0.3s ease; /* Smooth transition */
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); Shadow for depth */
}

.visible {
    transform: translateY(0); /* Show navbar */
}

.hidden {
    transform: translateY(-100%); /* Hide navbar */
}

.navbarTitle {
    font-size: 2rem;
    font-weight: bold;
    color: white; /* White text for title */
}

.navbarSubtitle {
    font-size: 1.5rem;
    font-weight: normal;
    color: #ff4081; /* Excited color for subtitle */
}

.navbarLink {
    color: white; /* White text for links */
    text-transform: uppercase;
    transition: color 0.3s ease; /* Smooth color transition */
}

.navbarLink:hover {
    color: #ff4081; /* Change color on hover */
}

.dropdownMenu {
    position: absolute;
    background-color: #ff40802f; /* Dark background for dropdown */
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10; /* Ensure dropdown is above other elements */
    margin-top: 0.5rem; /* Space between button and dropdown */
    width: 200px; /* Set a width for the dropdown */
}

.dropdownItem {
    padding: 0.5rem 1rem;
    color: white; /* White text for dropdown items */
    transition: background-color 0.3s ease;
    display: block; /* Ensure items are block elements */
}

.dropdownItem:hover {
    background-color: #ff4081; /* Darker gray on hover */
}

/* Responsive styles for mobile view */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Stack items vertically */
        align-items: flex-start; /* Align items to the start */
    }

    .navbarLink {
        padding: 10px 0; /* Add padding for better touch targets */
    }

    .dropdownMenu {
        width: 100%; /* Full width for dropdown on mobile */
    }
}

.photography {
    font-family: 'Dancing Script', cursive; /* Use a more decorative cursive font */
    font-size: 2rem; /* Adjust size as needed */
    font-style: normal; /* Normal style for a cleaner look */
    color: #ff4081; /* Optional: Change color for emphasis */
} 